<span class="label label-important">0&ndash;5 Min</span>
<span class="label label-warning">5&ndash;12 Min</span>
<span class="label label-success">12&ndash;20 Min</span>
<span class="label label-info">&gt;20 Min</span>
<span class="label"><i class="icon-question-sign"></i> = Real-time unavailable</span>