<span style="font-weight:bold;font-size:120%">LEGEND:</span><br>
<b>Arriving in:</b><br>
<span class="label label-important">0&ndash;5 Min</span>
<span class="label label-warning">5&ndash;12 Min</span>
<span class="label label-success">12&ndash;20 Min</span>
<span class="label label-info">&gt;20 Min</span>
<span class="label"><i class="icon-question-sign"></i> = Real-time unavailable</span>
<br>
<b>Direction:</b><br>
<span class="label dir_label"><i class="icon-arrow-up"></i> = NORTHBOUND</span>
<span class="label dir_label"><i class="icon-arrow-down"></i> = SOUTHBOUND</span>
<span class="label dir_label"><i class="icon-arrow-right"></i> = EASTBOUND</span>
<span class="label dir_label"><i class="icon-arrow-left"></i> = WESTBOUND</span>
