<div style="margin-top:1em;">
  <b>Directions:</b><br>
  <span class="label dir_label"><i class="icon-arrow-up"></i> = NORTHBOUND</span>
  <span class="label dir_label"><i class="icon-arrow-down"></i> = SOUTHBOUND</span>
  <span class="label dir_label"><i class="icon-arrow-right"></i> = EASTBOUND</span>
  <span class="label dir_label"><i class="icon-arrow-left"></i> = WESTBOUND</span>
</div>
