<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="">MSP Bus</a>
      <ul class="nav pull-right">
        <li><a href='#'>Map</a></li>
        <li><a href='#'>Times</a></li>
        <li><a href='#'>Routes</a></li>
      </ul>
    </div>
  </div>
</div>  