<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">MSP Bus</a>
      <button id="btn-current-location" class="btn btn-info btn-address pull-right"><i class=""></i><img src="http://docs.huihoo.com/android/2.3/images/icon_design/ic_menu_mylocation.png" alt="Update Location" /></button>
      <form class="navbar-form"action="/">
        <div class="input-append"><input type="text" id="q" name="q" placeholder="Search..." value="<%= params[:q] %>"/><button class="btn add-on"> <i class="icon-search"></i></button>
      </div></form>
      <!-- <ul class="nav pull-right">
        <li><a href='#'>Map</a></li>
        <li><a href='#'>Times</a></li>
        <li><a href='#'>Routes</a></li>
      </ul> -->
      
    </div>
  </div>
</div>  
