<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><%= image_tag("logo-small.png", :size => "24x24", :alt => "MSP Bus Logo") %></a>
      <% if params[:controller] == "home" && params[:action] == "index" %>
      <button class="btn-current-location btn btn-info btn-address pull-right"><i class=""></i><img height=25 width=25 src="<%= asset_path 'location.png' %>" alt="Update Location" style="vertical-align:middle"/><div class="update-location-descr">&nbsp;&nbsp;Update<br>Location</div></button>
      <% end %>
      <form class="navbar-form" action="/">
        <div class="input-append"><input type="text" id="q" name="q" placeholder="Find bus stops near&hellip;" value="<%= params[:q] %>"/><button class="btn add-on"> <i class="icon-search"></i></button>
      </div></form>
      <!-- <ul class="nav pull-right">
        <li><a href='#'>Map</a></li>
        <li><a href='#'>Times</a></li>
        <li><a href='#'>Routes</a></li>
      </ul> -->
      
    </div>
  </div>
</div>  
