<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="">MSP Bus</a>
      <ul class="nav pull-right">
      </ul>
    </div>
  </div>
</div>  