<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><%= image_tag("logo-small.png", :size => "24x24", :alt => "MSP Bus Logo") %></a>
        <button class="btn-current-location btn btn-info btn-address pull-right">
          <i class="icon-location-arrow" style="font-size: 18px;"></i>&nbsp;&nbsp;<div style="display:inline-block;vertical-align:middle;font-size:8pt;line-height:10pt">Find<br>Me</div></button>
        <button class="btn-current-location btn btn-info btn-address pull-right" style="margin-right:5px; height:35px;" id="btn-fav"><i class="icon-star star star-yellow"></i></button>
      <div id="searchbox" class="input-append">
        <input type="text" id="q" placeholder="Find stops near&hellip;"/>
        <button class="btn add-on" id="qsub"> <i class="icon-search"></i></button>
      </div>
    </div>
  </div>
</div>  
