<h3>About</h3>
<img style="float:right" src="/assets/hackformn.png">

<p>MSPBus was created at HackforMN on June 1&ndash;2, 2013 by the following people</p>

<div style="height:600px;width:800px;">
<div class="prof">
  <a href="https://twitter.com/decuirm"><img src="/assets/matt_decuir.jpg">
  <br>Matt Decuir<br>Interface Designer</a>
</div>

<div class="prof">
  <a href="https://twitter.com/itooamaneatguy"><img src="/assets/jason_kadrmas.jpg">
  <br>Jason Kadrmas<br>Developer</a>
</div>

<div class="prof">
  <a href="http://rbarnes.org"><img src="/assets/richard_barnes.jpg">
  <br>Richard Barnes<br>Developer</a>
</div>

<div class="prof">
  <a href="https://twitter.com/AndrewForSenate"><img src="/assets/andrew_brobston.jpg">
  <br>Andrew Brobston<br>Sys Admin</a>
</div>

<div class="prof">
<ul> 
  <li>Donovan Walker</li>
  <li>Louis Goessling</li>
  <li>Kristen Murray</li>
</ul>
</div>

</div>
