<h3>About</h3>

<p>MSPBus was created at <a href="http://www.hackformn.org/">HackforMN</a> on June 1&ndash;2, 2013 as part of the <a href="http://hackforchange.org/">National Day of Civic Hacking</a> by the following people</p>

<div style="width:100%;text-align:center;">
<div class="prof">
  <a href="https://twitter.com/decuirm"><img src="/assets/matt_decuir.jpg">
  <br>Matt Decuir<br>Project Manager/UX Designer</a>
</div>

<div class="prof">
  <a href="https://twitter.com/itooamaneatguy"><img src="/assets/jason_kadrmas.jpg">
  <br>Jason Kadrmas<br>Developer</a>
</div>

<div class="prof">
  <a href="http://rbarnes.org"><img src="/assets/richard_barnes.jpg">
  <br>Richard Barnes<br>Developer</a>
</div>

<div class="prof">
  <a href="http://brobston.com"><img src="/assets/andrew_brobston.jpg">
  <br>Andrew Brobston<br>Sys Admin</a>
</div>
</div>

<p>with contributions from Louis Goessling and <a href="https://twitter.com/substars">Benjamin Ortega</a>.</p>

<div style="text-align:center;margin-bottom:2em;">
<a href="http://www.hackformn.org/"><img src="/assets/hackformn.png"></a>
<a href="https://github.com/r-barnes/mspbus"><img style="margin-left:5em;" src="/assets/github-logo.png"></a>
</div>


