<h3>About</h3>

<p>MSPBus was created at <a href="http://www.hackformn.org/">HackforMN</a> on June 1&ndash;2, 2013 as part of the <a href="http://hackforchange.org/">National Day of Civic Hacking</a> by the following people</p>

<div style="width:100%;text-align:center;">
<div class="prof">
  <a href="http://mattdecuir.com"><img src="/assets/matt_decuir.jpg" width="200" height="200">
  <br>Matt Decuir<br>Project Manager/UX Designer</a>
</div>

<div class="prof">
  <a href="https://twitter.com/itooamaneatguy"><img src="/assets/jason_kadrmas.jpg" width="200" height="200">
  <br>Jason Kadrmas<br>Developer</a>
</div>

<div class="prof">
  <a href="http://rbarnes.org"><img src="/assets/richard_barnes.jpg" width="200" height="200">
  <br>Richard Barnes<br>Developer</a>
</div>

<div class="prof">
  <a href="http://brobston.com"><img src="/assets/andrew_brobston.jpg" width="200" height="200">
  <br>Andrew Brobston<br>Sys Admin</a>
</div>
</div>

<p>with contributions from Louis Goessling and <a href="https://twitter.com/substars">Benjamin Ortega</a>.</p>

<div style="text-align:center;margin-bottom:2em;">
<a href="http://www.hackformn.org/"><img src="/assets/hackformn.png" width="320" height="158"></a>
<a href="https://github.com/r-barnes/mspbus"><img style="margin-left:5em;" src="/assets/github-logo.png" width="298" height="134"></a>
</div>

<h3>Awards</h3>
<table class="table">
<tr><td>White House Champions of Change Commendation</td></tr>
<tr><td>ESRI National Day of Civic Hacking Innovation Award, 2013</td></tr>
</table>

<h3>In the News</h3>
<table class="table">
<tr><td>July 15, 2013</td><td>TECHdotMN</td><td><a href="http://tech.mn/news/2013/07/15/mspbus-white-house-champions-of-change/">mspbus traveling to the White House</a></td></tr>
<tr><td>June 19, 2013</td><td>Hack for Change Blog</td><td><a href="http://www.hackforchange.org/blog/inspiring-projects-submit-yours-june-30th">Inspiring Projects</a></td></tr>
<tr><td>June 19, 2013</td><td>GovDelivery</td><td><a href="http://www.govdelivery.com/blog/2013/06/hack-for-mn-2013/">Hack for MN 2013</a></td></tr>
<tr><td>June 14, 2013</td><td>Open Twin Cities</td><td><a href="http://www.opentwincities.org/2013/06/14/hack-for-mn-2013-projects/">Hack for MN 2013 Projects</a></td></tr>
<tr><td>June 11, 2013</td><td>Southwest Journal</td><td><a href="http://www.southwestjournal.com/news/biz-buzzes/hack-for-mn-yields-new-bus-tracking-app">Hack for MN yields new bus-tracking app</a></td></tr>
<tr><td>June 10, 2013</td><td>Secrets of the City</td><td><a href="http://www.secretsofthecity.com/secrets/view/real-time-bus-tracker-launches-for-twin-cities">Real-time Bus Tracker Launches for Twin Cities</a></td></tr>
<tr><td>June 6, 2013</td><td>MinnPost</td><td><a href="http://www.minnpost.com/inside-minnpost/2013/06/minnesotans-join-thousands-collaborative-national-day-civic-hacking">Minnesotans join thousands in collaborative National Day of Civic Hacking</a></td></tr>
<tr><td>June 4, 2013</td><td>Nate Bird's Blog</td><td><a href="http://natebird.com/tag/hack-for-mn/">Hack for Minnesota</a></td></tr>
<tr><td>June 2, 2013</td><td>Tony Webster's Blog</td><td><a href="https://tonywebster.com/2013/06/national-day-of-civic-hacking-open-data/">National Day of Civic Hacking: innovation, with or without data</a></td></tr>
</table>



<!--
- Date unknown: Metro Transit [Mobile site and transit apps](http://metrotransit.org/mobile-site-and-transit-apps) and [Apps put transit in the palm of your hand](http://metrotransit.org/apps-put-transit-in-the-palm-of-your-hand)
-->
