<h3>About</h3>
<img style="float:right" src="/assets/hackformn.png">

<p>MSPBus was created at HackforMN on June 1&ndash;2, 2013.</p>
<p>
Created at HackforMN by
<ul> 
<li>Andrew Brobston
<li>Donovan Walker
<li>Jason Kadrmas
<li>Louis Goessling
<li>Kristen Murray
<li>Matt Decuir
<li>Richard Barnes
</ul>
</p>

<div style="height:300px">
<div class="prof">
  <img src="/assets/richard.jpg">
  <br><a href="http://rbarnes.org">Richard Barnes</a>
</div>
</div>
