<h3>About</h3>

<p>MSPBus was created at HackforMN on June 1&ndash;2, 2013 as part of the National Day of Civic Hacking by the following people</p>

<div style="width:100%;text-align:center;">
<div class="prof">
  <a href="https://twitter.com/decuirm"><img src="/assets/matt_decuir.jpg">
  <br>Matt Decuir<br>Interface Designer</a>
</div>

<div class="prof">
  <a href="https://twitter.com/itooamaneatguy"><img src="/assets/jason_kadrmas.jpg">
  <br>Jason Kadrmas<br>Developer</a>
</div>

<div class="prof">
  <a href="http://rbarnes.org"><img src="/assets/richard_barnes.jpg">
  <br>Richard Barnes<br>Developer</a>
</div>

<div class="prof">
  <a href="https://twitter.com/AndrewForSenate"><img src="/assets/andrew_brobston.jpg">
  <br>Andrew Brobston<br>Sys Admin</a>
</div>
</div>

<p>As well as Donovan Walker, Louis Goessling, and Kristen Murray</p>

<div style="text-align:center;margin-bottom:2em;">
<img src="/assets/hackformn.png">
<a href="https://github.com/r-barnes/mspbus"><img style="margin-left:5em;" src="/assets/github-logo.png"></a>
</div>


