<div class="container">     
    <div class="row">

<div id="fbtext" class="span6">
<h3>Feedback</h3>
<p>Found a bug? Want to see a new feature? Love the site? Hate the site? Something else?</p>
<p> -- <a href="mailto:mspbus@gmail.com">mspbus@gmail.com</a></p>
</div>

<div id="fbtwitter" class="span6">
<a class="twitter-timeline" href="https://twitter.com/search?q=mspbus" data-widget-id="343002635726639104">Tweets about "mspbus"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</div>
</div>
