<h1>Stops</h1>

<table class="table swaps-table">
  <thead>
    <tr>
      <th>Stop Name</th>
      <th>Distance</th>
    </tr>
  </thead>
  <tbody>
    <% @stops.results.each do |stop| %>
      <tr class="stop">
        <td><span class="name"><%= stop.stop_name %></span><br><span class="desc"><%= stop.stop_desc %></span><br><span class="next"></span></td>
        <td><%= (stop.sort[0]*5280).round(2) unless stop.sort[0].nil? %> Feet Away</td>
      </tr>
    <% end %>
  </tbody>
</table>
