<script type='text/javascript'>
    clientLocation = false;

    if (navigator.geolocation)
    {
        navigator.geolocation.getCurrentPosition(function(position) {
            clientLocation = position.coords;
        });
    }
</script>

<table class="table swaps-table">
  <tbody>
    <% @stops.results.each do |stop| %>
      <tr>
        <td>
          <b><%= stop.stop_name %></b>
          <div class="real-time" id="<%= stop.stop_id %>" data-attr="<%= stop.stop_id %>"></div>
        </td>
        <td><%= (stop.sort[0]*5280).round(2) unless stop.sort[0].nil? %> Feet Away</td>
      </tr>
    <% end %>
  </tbody>
</table>
