<% if @stop.nil? %>
  <div class="alert alert-info">Stop does not exist.</div>
<% else %>

<h1 id="thestop" data-attr="<%= @stop.stop_id %>"><%= @stop.stop_name %></h1>

<table class="table">
<thead>
  <tr><td>Route</td><td>Description</td><td>Arrival</td></tr>
</thead>
<tbody id="result">

</tbody>
</table>
  

</div>

<%= javascript_include_tag "show_stop" %>

<% end %>
