<div class="map-route-hud">
  <div class="pull-left hud-descr">
    <span><%= descr %></span>&nbsp;<span class="label">4 of 7</span><h4>University Av & Univ Rec Ctr</h4>
  </div>
  <div class="pull-right hud-stops-descr">
    <span class="btn"><i class="icon-chevron-left"></i></span>
    <span class="btn"><i class="icon-chevron-right"></i></span>
  </div>
</div>