// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stopbutton {
  padding:5px;
}

.stopbutton a {
  display: block;
  text-decoration:none;
  color:black;
}

.btn-group {
  white-space: normal;
}

.btn-address {
  margin-bottom: 5px;
}

.modal-header h3 {
  font-weight: normal;
}

.label-info {
  background-color:#000080;
}

.footer {
  width: 100%;

  .inner-footer {
    width: 200px;
    margin: 0 auto;
  }
}

.prof {
  display:inline-block;
  width:250px;
  height:250px;
  text-align:center;
  font-size:1em;
  font-weight:bold;
}

.prof img {
  border-radius:20px;
  margin-bottom:5px;
}

#maptt {
  position:absolute;
  bottom:0;
  width:100%;
  height:2em;
  text-align:center;
  pointer-events:none;
}

#view-map {position:relative;}
#map-canvas {height:500px;}

@media (max-width: 767px) {
  #viewchanger {display:block;}
}

@media (min-width: 768px) {
  #viewchanger {display:none;}
}

.infocontents {
  width:90%;
  text-align:center;
}

.infocontents a {
  font-weight:bold;
}

.dir_label {
  background-color:#4E4E4E;
}
