// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stopbutton {
  padding:5px;
}

.stopbutton a {
  display: block;
  text-decoration:none;
  color:black;
}

.btn-group {
  white-space: normal;
}

.btn-address {
  margin-bottom: 5px;
}

.modal-header h3 {
  font-weight: normal;
}

.label-info {
  background-color:#000080;
}
