// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stopbutton {
  padding: 5px;
  text-align: left;
  text-shadow: none;
  background: #f5f7f7;
  border-radius: 0;
  -webkit-border-radius: 0 !important;
  min-height: 2em;
}

.stopbutton a {
  display: block;
  text-decoration:none;
  color:black;
}

.btn-group {
  white-space: normal;
}

.btn-address {
  margin-bottom: 5px;
}

.modal-header h3 {
  font-weight: normal;
}

// .label-info {
//   background-color:#000080;
// }

.footer {
  width: 100%;
  text-align: center;
}

.prof {
  display:inline-block;
  width:250px;
  height:250px;
  text-align:center;
  font-size:1em;
  font-weight:bold;
}

.prof img {
  border-radius:20px;
  margin-bottom:5px;
}

#maptt {
  transition: all 0.2s;
  -webkit-transition: all 0.2s; /* Safari */
  position: absolute;
  top:0;
  width: 100%;
  height: 2em;
  line-height: 2em;
  text-align:center;
  background-color: rgba(0,0,0,0.3);
  pointer-events: none;
}

#view-map {position:relative;}
#map-canvas {
  height:500px;
  border: 1px solid #ccc;
}

#viewchanger {margin-left:5px;}

@media (max-width: 767px) {
  #viewchanger {display:block;}
}

@media (min-width: 768px) {
  #viewchanger {display:none;}
}

.infocontents {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  overflow:hide;
}

.infocontents a {
  font-weight:bold;
}

.infocontents .route-chip {
  display:inline-block;
  float:none;
}

.dir_label {
  background-color:#4E4E4E;
}

.distance-label {
  border-radius: 2px;
  font-size: 1.3em;
  font-family: 'OpenSansLight';
  padding: 10px;
  color: grey;
  position:absolute;
  right:5px;
}

.real-time {
  width: 85%;
  margin-top:2px;
}
.stop-name {
  font-family: 'OpenSansRegular';
  font-weight: bold;
}
.route-chip {
  display: block;
  height: 15px;
  float: left;
/*  cursor: pointer;*/
  border-radius: 2px;
  font-size: 0.85em;
  padding: 3px 5px 3px 5px;
  margin: 0 3px 3px 0;
  font-family: 'OpenSansRegular';
  margin-bottom:2px;
  text-shadow: none;
}

#maptt .route-chip {
  display:inline;
  float:none;
  vertical-align:middle;
}

.route-chip-italic {
  font-weight: normal;
  font-family: 'Helvetica Neue', Arial;
}

.marker-header {
  font-family: 'OpenSansSemibold';
  font-size: 1.0em;
}

.map-route-hud {
  font-weight: normal;
  text-align: left;
  height: 100%;
  // background: rgba(0, 0, 0, 0.6);
  padding: 0.3em;
  color: #fff;

  h4 {
    margin: 0;
    color: #fff;
    font-size: 1.2em;
    font-family: 'OpenSansLight';
    font-weight: normal;
  }

  .route-chip {
    padding: 0 5px 0 5px;
    display: inline;
    float: none;
  }

  .hud-descr {
    margin-left: 10px;
  }

  .hud-stops-descr {
    .btn {
      margin: 5px 5px 0 7px;
    }
  }
}

.update-location-descr {
  display: inline-block;
  vertical-align: middle;
  font-size: 8pt;
  line-height: 10pt;
}

.legend {
  font-family: 'OpenSansRegular';
}

#searchbox {
  margin-top:8px;
}

.home-container {
  position: relative;
}

.directions-header {
  color: #666;
  margin-top: 5px;
}

.directions-header-container {
  margin-right: 10px;
}

#route-list-item {
  float: right;
}

.route-box {
  padding: 10px 0px 10px 10px;
  width: 200px;
  font-family: 'OpenSansLight';
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 0px;
  position: absolute;
  top: 32px;
  right: 3px;
  z-index: 100;

  .route-input {
    input {
      width: 120px;
    }
  }

  .btn-hide-route {
    display: none;
    position: absolute;
    top: 10px;
    right: 5px;
    border-radius: 5px;
    height: 30px;
  }

  .directions-leg {
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    height: 300px;
  }

  .btn-exchange {
    position: absolute;
    top: 30px;
    right: 5px;
    padding: 3px 7px 3px 7px;
  }

  .directions-step {
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px;
    padding: 5px;
    background: #fff;
    border-bottom: 1px solid #ccc;
  }

  .directions-end {
    margin-right: 5px;
    padding: 5px;
    display: block;
    // white-space: normal;
    // text-overflow: ellipsis;
    background: #3a87ad;
  }

  .directions-travel-mode-icon {
    background: transparent url('/assets/sprite-1x.png') no-repeat 0 0;
    background-size: 120px 15px;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin: 4px 0 4px 0;
  }

  .directions-walk-icon {
    background-position: -24px 0;
  }

  .directions-transit-icon {
    background-position: -96px 0;
  }

  .directions-driving-icon {
    background-position: -48px 0;
  }
}

.star {
  font-size: 18px;
  color: grey;
}

.star-yellow {
  color: #fbe045;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}