// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stopbutton {
  padding: 5px;
  text-align: left;
  text-shadow: none;
  background: #f5f7f7;
  border-radius: 0;
  -webkit-border-radius: 0 !important;
  min-height: 2em;
}

.stopbutton a {
  display: block;
  text-decoration:none;
  color:black;
}

.btn-group {
  white-space: normal;
}

.btn-address {
  margin-bottom: 5px;
}

.modal-header h3 {
  font-weight: normal;
}

// .label-info {
//   background-color:#000080;
// }

.footer {
  width: 100%;

  .inner-footer {
    width: 200px;
    margin: 0 auto;
  }
}

.prof {
  display:inline-block;
  width:250px;
  height:250px;
  text-align:center;
  font-size:1em;
  font-weight:bold;
}

.prof img {
  border-radius:20px;
  margin-bottom:5px;
}

#maptt {
  position: absolute;
  top:0;
  width: 100%;
  height: 3em;
  line-height:3em;
  text-align: center;
  background-color:rgba(0,0,0,0.3);
  pointer-events: none;
}

#view-map {position:relative;}
#map-canvas {
  height:500px;
  border: 1px solid #ccc;
}

@media (max-width: 767px) {
  #viewchanger {display:block;}
}

@media (min-width: 768px) {
  #viewchanger {display:none;}
}

.infocontents {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.infocontents a {
  font-weight:bold;
}

.dir_label {
  background-color:#4E4E4E;
}

.distance-label {
  border-radius: 2px;
  font-size: 1.3em;
  font-family: 'OpenSansLight';
  padding: 10px;
  color: grey;
  position:absolute;
  right:5px;
}

.real-time {
  width: 79%;
}
.stop-name {
  font-family: 'OpenSansRegular';
}
.route-chip {
  display: block;
  height: 15px;
  float: left;
  cursor: pointer;
  border-radius: 2px;
  font-size: 0.85em;
  padding: 3px 5px 3px 5px;
  margin: 0 3px 3px 0;
  font-family: 'OpenSansRegular';
  margin-bottom:2px;
  text-shadow: none;
}

.route-chip-italic {
  font-weight: normal;
  font-family: 'Helvetica Neue', Arial;
}

.marker-header {
  font-family: 'OpenSansSemibold';
  font-size: 1.0em;
}

.map-route-hud {
  font-weight: normal;
  text-align: left;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 0.3em;
  color: #fff;

  h4 {
    margin: 0;
    color: #fff;
    font-size: 1.2em;
    font-family: 'OpenSansLight';
    font-weight: normal;
  }

  .route-chip {
    padding: 0 5px 0 5px;
    display: inline;
    float: none;
  }

  .hud-descr {
    margin-left: 10px;
  }

  .hud-stops-descr {
    .btn {
      margin: 5px 5px 0 7px;
    }
  }
}

.update-location-descr {
  display: inline-block;
  vertical-align: middle;
  font-size: 8pt;
  line-height: 10pt;
}
