// Place all the styles related to the Stops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  font-size:16pt;
}

span.desc {
  font-size:60%;
}

#thestop {
  font-family: 'OpenSansSemibold';
  font-size: 1.5em;
}

.stop-table {
  th {
    font-family: 'OpenSansSemibold';
    font-size: 20pt;
    background: #f5f7f7;
  }
  td {
    font-family: 'OpenSansRegular';
    color: #fff;
  }
}

.stop-header {
  line-height: 20px;
  padding: 5px 10px 5px 10px;
  margin-bottom:3px;

  img {
    vertical-align: bottom;
  }
}

.stop-desc {
  margin-left: 0.5em;
  font-size: 90%;
  font-style: italic;
}
