// Place all the styles related to the Stops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  font-size:16pt;
}

span.desc {
  font-size:60%;
}
